In [1]:
# Import dependencies
import pandas as pd

In [13]:
red_USA_df: pd.DataFrame = pd.read_csv('./Database data/Red_Wine_USA.csv')
white_USA_df: pd.DataFrame = pd.read_csv('./Database data/White_Wine_USA.csv')

In [6]:
red_USA_df.head()

,Unnamed: 0,wine,wine_id,appellation,color,regions,country,vintage,is_primeurs,score,confidence_index,journalist_count
0,0,"Ridge Vineyards, Monte Bello, Santa Cruz Mount...",120786,Santa Cruz Mountains,Red,California,Usa,2013,False,95.83,C+,8
1,1,"Quintessa, Rutherford",118360,Rutherford,Red,California,Usa,2015,False,95.77,C,3
2,2,"Harlan Estate, Napa Valley",81980,Napa Valley,Red,California,Usa,2001,False,98.89,A+,6
3,3,"Dalla Valle Vineyards, Maya, Napa Valley",48290,Napa Valley,Red,California,Usa,2001,False,96.49,B+,5
4,4,"Philip Togni Vineyard, Cabernet Sauvignon, Nap...",115154,Napa Valley,Red,California,Usa,2001,False,96.20,B,3

In [14]:
white_USA_df.head()

,Unnamed: 0,wine,wine_id,appellation,color,regions,country,vintage,is_primeurs,score,confidence_index,journalist_count
0,0,"Ridge Vineyards, Monte Bello Chardonnay, White...",120785,Santa Cruz Mountains,White,California,Usa,2016,False,94.39,B,3
1,1,"Stags' Leap Winery, Chardonnay, White, Napa Va...",129823,Napa Valley,White,California,Usa,2016,False,89.83,A+,3
2,2,"Joseph Phelps Vineyards, Freestone Chardonnay,...",89569,Sonoma Coast,White,California,Usa,2016,False,90.73,C+,4
3,3,"Crossbarn By Paul Hobbs, Chardonnay, White, So...",47377,Sonoma Coast,White,California,Usa,2016,False,90.39,B+,3
4,4,"Mount Eden Vineyards, Chardonnay, White, Santa...",107658,Santa Cruz Mountains,White,California,Usa,2015,False,92.22,B,4

In [9]:
red_appellations: pd.DataFrame = red_USA_df['appellation'].value_counts()
red_appellations.head()

Napa Valley           2143
Walla Walla Valley     271
Columbia Valley        212
Oakville               197
Howell Mountain        165
Name: appellation, dtype: int64

In [15]:
white_appellations: pd.DataFrame = white_USA_df['appellation'].value_counts()
white_appellations.head()

Napa Valley             245
Carneros                116
Russian River Valley     97
Sonoma County            80
Knights Valley           54
Name: appellation, dtype: int64

In [36]:
all_wines: pd.DataFrame = pd.concat([red_USA_df, white_USA_df], axis=0, join='outer', ignore_index=False, keys=None,
          levels=None, names=None, verify_integrity=False, copy=True)
all_wines.head()

,Unnamed: 0,wine,wine_id,appellation,color,regions,country,vintage,is_primeurs,score,confidence_index,journalist_count
0,0,"Ridge Vineyards, Monte Bello, Santa Cruz Mount...",120786,Santa Cruz Mountains,Red,California,Usa,2013,False,95.83,C+,8
1,1,"Quintessa, Rutherford",118360,Rutherford,Red,California,Usa,2015,False,95.77,C,3
2,2,"Harlan Estate, Napa Valley",81980,Napa Valley,Red,California,Usa,2001,False,98.89,A+,6
3,3,"Dalla Valle Vineyards, Maya, Napa Valley",48290,Napa Valley,Red,California,Usa,2001,False,96.49,B+,5
4,4,"Philip Togni Vineyard, Cabernet Sauvignon, Nap...",115154,Napa Valley,Red,California,Usa,2001,False,96.20,B,3

In [40]:
appellations: pd.DataFrame = all_wines['appellation'].value_counts()
appellations.head()

Napa Valley             2388
Walla Walla Valley       271
Columbia Valley          230
Russian River Valley     216
Oakville                 208
Name: appellation, dtype: int64

In [41]:
appellations.to_csv('./Database data/appellations.csv')