In [1]:
# Import the requests library.
import requests
import numpy as np
import pandas as pd
# Import the requests library.
import requests
import datetime
from datetime import datetime
import matplotlib.pyplot as plt
# Dependencies for the wine API
import urllib
import json
# Import the API key.
from config import weather_api_key

## Dropped Columns
Wine and wine_slug appear to be the same columns <p>
appellation and appellation_slug appear to be the same columns <p>
wine_type is blank <p>
classification has several NA values <p>
lwin and lwin_11 are unique identifiers for that particular wine <p>

In [2]:
# Import the API key.
API_Token='Token d8f94b93417333267ca0edcca7dc14a9e035e1bb'
headers = {
    'accept': 'application/json',
    'authorization': API_Token
    }

# Red Wine in USA

In [3]:
req_red_USA = urllib.request.Request('https://api.globalwinescore.com/globalwinescores/latest/?color=red&limit=5000&country=Usa', data=None, headers=headers, origin_req_host=None, unverifiable=False, method=None)
res_red_USA = urllib.request.urlopen(req_red_USA).read().decode()
obj_red_USA = json.loads(res_red_USA)
#read json into DF
Red_USA_df = pd.DataFrame.from_dict(obj_red_USA['results'], orient='columns')
# To delete the column without having to reassign df you can do:
Red_USA_df.drop([ 'wine_slug', 'appellation_slug',  'date',  'lwin', 'lwin_11'],axis=1, inplace=True)
#'wine_id','wine_type','classification',
#Drop NA values
# Red_USA_df = Red_USA_df.dropna()
#convert vintage to date type
Red_USA_df['vintage']= pd.to_datetime(Red_USA_df['vintage'])
Red_USA_df.head()

,wine,wine_id,appellation,color,wine_type,regions,country,classification,vintage,is_primeurs,score,confidence_index,journalist_count
0,"Quintessa, Rutherford",118360,Rutherford,Red,,[California],Usa,None,2015-01-01,False,95.77,C,3
1,"Harlan Estate, Napa Valley",81980,Napa Valley,Red,,[California],Usa,None,2001-01-01,False,98.89,A+,6
2,"Dalla Valle Vineyards, Maya, Napa Valley",48290,Napa Valley,Red,,[California],Usa,None,2001-01-01,False,96.49,B+,5
3,"Philip Togni Vineyard, Cabernet Sauvignon, Nap...",115154,Napa Valley,Red,,[California],Usa,None,2001-01-01,False,96.20,B,3
4,"Colgin Cellars, Cariad Red, Napa Valley",44618,Napa Valley,Red,,[California],Usa,None,2001-01-01,False,95.60,B,5

# White Wine in USA

In [4]:
req_white_USA = urllib.request.Request('https://api.globalwinescore.com/globalwinescores/latest/?color=white&limit=5000&country=Usa', data=None, headers=headers, origin_req_host=None, unverifiable=False, method=None)
res_white_USA = urllib.request.urlopen(req_white_USA).read().decode()
obj_white_USA = json.loads(res_white_USA)
#read json into DF
white_USA_df = pd.DataFrame.from_dict(obj_white_USA['results'], orient='columns')
# To delete the column without having to reassign df you can do:
white_USA_df.drop([ 'wine_slug', 'appellation_slug',  'date',  'lwin', 'lwin_11'],axis=1, inplace=True)
#'wine_id','wine_type','classification',
#Drop NA values
# white_USA_df = white_USA_df.dropna()
#convert vintage to date type
white_USA_df['vintage']= pd.to_datetime(white_USA_df['vintage'])
white_USA_df.head()

,wine,wine_id,appellation,color,wine_type,regions,country,classification,vintage,is_primeurs,score,confidence_index,journalist_count
0,"Ridge Vineyards, Monte Bello Chardonnay, White...",120785,Santa Cruz Mountains,White,dry,[California],Usa,None,2016-01-01,False,94.39,B,3
1,"Stags' Leap Winery, Chardonnay, White, Napa Va...",129823,Napa Valley,White,dry,[California],Usa,None,2016-01-01,False,89.83,A+,3
2,"Joseph Phelps Vineyards, Freestone Chardonnay,...",89569,Sonoma Coast,White,dry,[California],Usa,None,2016-01-01,False,90.73,C+,4
3,"Crossbarn By Paul Hobbs, Chardonnay, White, So...",47377,Sonoma Coast,White,dry,[California],Usa,None,2016-01-01,False,90.39,B+,3
4,"Mount Eden Vineyards, Chardonnay, White, Santa...",107658,Santa Cruz Mountains,White,dry,[California],Usa,None,2015-01-01,False,92.22,B,4

# Red Wine in France

In [5]:
# req = urllib.request.Request('https://api.globalwinescore.com/globalwinescores/latest/?color=red&limit=5000&country=France', data=None, headers=headers, origin_req_host=None, unverifiable=False, method=None)
# res = urllib.request.urlopen(req).read().decode()
# obj = json.loads(res)
# #read json file into DF
# df = pd.DataFrame.from_dict(obj['results'], orient='columns')
# # To delete the column without having to reassign df you can do:
# df.drop([ 'wine_slug', 'appellation_slug', 'date',  'lwin', 'lwin_11'],axis=1, inplace=True)
# # 'wine_type','wine_id','classification',
# for i in df:
#     print(f"{i} has {df[i].isnull().sum()} null values")
# #Drop NA values
# df = df.dropna()
# for i in df:
#     print(f"{i} has {df[i].isnull().sum()} null values")
# # convert vintage to date time
# df['vintage']= pd.to_datetime(df['vintage'])
# df.dtypes

# White Wine in France

In [6]:
# req_white = urllib.request.Request('https://api.globalwinescore.com/globalwinescores/latest/?color=white&limit=5000&country=France', data=None, headers=headers, origin_req_host=None, unverifiable=False, method=None)
# res_white = urllib.request.urlopen(req_white).read().decode()
# obj_white = json.loads(res_white)
# #read into DF
# White_France_df = pd.DataFrame.from_dict(obj_white['results'], orient='columns')
# # To delete the column without having to reassign df you can do:
# White_France_df.drop([ 'wine_slug', 'appellation_slug', 'date', 'lwin', 'lwin_11'],axis=1, inplace=True)
# # 'wine_type','wine_id', 'classification',
# #drop null values
# White_France_df = White_France_df.dropna()
# #  convert to date time 
# White_France_df['vintage']= pd.to_datetime(White_France_df['vintage'])

# Weather

In [7]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Des Moines"
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=cb263315761782d33f16c9fb510ae6c3
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=cb263315761782d33f16c9fb510ae6c3&q=Des Moines

In [8]:
# Make a 'Get' request for the city weather.
city_weather = requests.get(city_url).json()
city_weather

{'coord': {'lon': -93.61, 'lat': 41.6},
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02n'}],
 'base': 'stations',
 'main': {'temp': 49.06,
  'feels_like': 43.39,
  'temp_min': 42.8,
  'temp_max': 53.6,
  'pressure': 1017,
  'humidity': 50},
 'visibility': 10000,
 'wind': {'speed': 3.51, 'deg': 167},
 'clouds': {'all': 20},
 'dt': 1602647320,
 'sys': {'type': 1,
  'id': 3863,
  'country': 'US',
  'sunrise': 1602591879,
  'sunset': 1602632164},
 'timezone': -18000,
 'id': 4853828,
 'name': 'Des Moines',
 'cod': 200}

In [9]:
city_lat = city_weather["coord"]["lat"]
city_lng = city_weather["coord"]["lon"]
city_max_temp = city_weather["main"]["temp_max"]
city_humidity = city_weather["main"]["humidity"]
city_clouds = city_weather["clouds"]["all"]
city_wind = city_weather["wind"]["speed"]
city_country = city_weather["sys"]["country"]
# convert date to year-month-day, hour-minute-second
city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
#identify which columns we want to view by creating an empty list and appending that list
city_data=[]
city_data.append({
    "Lat": city_lat,
    "Lng": city_lng,
    "Max Temp": city_max_temp,
    "Humidity": city_humidity,
    "Cloudiness": city_clouds,
    "Wind Speed": city_wind,
    "Country": city_country,
    "Date": city_date})
city_data_df = pd.DataFrame(city_data)
city_data_df

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,41.6,-93.61,53.6,50,20,3.51,US,2020-10-14 03:48:40

In [10]:
city_data

[{'Lat': 41.6,
  'Lng': -93.61,
  'Max Temp': 53.6,
  'Humidity': 50,
  'Cloudiness': 20,
  'Wind Speed': 3.51,
  'Country': 'US',
  'Date': '2020-10-14 03:48:40'}]

In [11]:
historical_weather_url="http://history.openweathermap.org/data/2.5/history/city?q=London,UK&APPID=" + weather_api_key
historical_weather_url

'http://history.openweathermap.org/data/2.5/history/city?q=London,UK&APPID=cb263315761782d33f16c9fb510ae6c3'

In [12]:
# Make a 'Get' request for the city weather.
city_weather_london = requests.get(historical_weather_url).json()
city_weather_london

{'cod': 401,
 'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'}

In [13]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Des Moines"
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=cb263315761782d33f16c9fb510ae6c3
http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=cb263315761782d33f16c9fb510ae6c3&q=Des Moines